@import "tailwindcss";

@theme {
  --color-bg: #98ff98;
}

@layer utilities {
  .thin-scrollbar {
    @apply overflow-auto;
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
  }

  /* WebKit browsers */
  .thin-scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-800 rounded-full;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full hover:bg-gray-500;
  }
}
